*{
    margin: 0;
    padding: 0;
    font-family: "Dancing Script", cursive;
    font-weight: 400;
    font-style: normal;
}

body{   
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 1vw;
}

.b1 img{
    width: 3.5vw;
    border-radius: 50%;
}

.p{
    margin-top: -3.2vw;
    font-size: 2vw;
    margin-left: 4vw;
    cursor: pointer;
}

.navbar{
    margin-right: 25vw;
    margin-top: 1vw;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
}

nav ul li a{
    text-decoration: none;
    margin-right: 3vw;
    font-size: 1.7vw;
    color: black;
    transition: all 3s ease-in-out;
    position: relative;
}

nav ul li a:hover{
    top: -0.5vw;
}

.p1{
    padding: 1.2vw;
    font-size: 1.8vw;
    transition: all 0.5s ease-in-out;
}

.p1:hover{
    background-color: beige;
}

.cards{
    padding: 1.4vw;
    margin-top: 1vw;
    width: 100vw;
    height: 48vh;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.p2{
    color: white;
    font-size: 2.3vw;
    margin-top: 6vw;
}

.card1{
    background-image: url('main/alexander.webp');
    padding: 3vw 0vw 0vw 0vw;
    margin-top: 1vw;
    margin-left: 3vw;
    width: 28vw;
    height: 40vh; 
    background-size: cover;
    background-position: center;
    border-radius: 2vw;
}

.card2{
    background-image: url('main/Ramses.jpg');
    padding: 3vw 0vw 0vw 0vw;
    margin-top: 1vw;
    margin-left: 3vw;
    width: 28vw;
    height: 40vh; 
    background-size: cover;
    background-position: center;
    border-radius: 2vw;
}

.card3{
    background-image: url('main/asoka.jpg');
    padding: 3vw 0vw 0vw 0vw;
    margin-top: 1vw;
    margin-left: 3vw;
    width: 28vw;
    height: 40vh; 
    background-size: cover;
    background-position: center;
    border-radius: 2vw;
}

.card4{
    background-image: url('main/pushyamitra.jpg');
    padding: 3vw 0vw 0vw 0vw;
    margin-top: 1vw;
    margin-left: 3vw;
    width: 28vw;
    height: 40vh; 
    background-size: cover;
    background-position: center;
    border-radius: 2vw;
}

.card5{
    background-image: url('main/QinShiHuang.jpg');
    padding: 3vw 0vw 0vw 0vw;
    margin-top: 1vw;
    margin-left: 3vw;
    width: 28vw;
    height: 40vh; 
    background-size: cover;
    background-position: center;
    border-radius: 2vw;
}

.card6{
    background-image: url('main/Aug.jpg');
    padding: 3vw 0vw 0vw 0vw;
    margin-top: 1vw;
    margin-left: 3vw;
    width: 28vw;
    height: 40vh; 
    background-size: cover;
    background-position: center;
    border-radius: 2vw;
}

.card7{
    background-image: url('main/Saladin.webp');
    padding: 3vw 0vw 0vw 0vw;
    margin-top: 1vw;
    margin-left: 3vw;
    width: 28vw;
    height: 40vh; 
    background-size: cover;
    background-position: center;
    border-radius: 2vw;
}

.card8{
    background-image: url('main/Emperor_Akbar_the_Great.jpg');
    padding: 3vw 0vw 0vw 0vw;
    margin-top: 1vw;
    margin-left: 3vw;
    width: 28vw;
    height: 40vh; 
    background-size: cover;
    background-position: center;
    border-radius: 2vw;
}

.card9{
    background-image: url('main/peter.jpg');
    padding: 3vw 0vw 0vw 0vw;
    margin-top: 1vw;
    margin-left: 3vw;
    width: 28vw;
    height: 40vh; 
    background-size: cover;
    background-position: center;
    border-radius: 2vw;
}

.card10{
    background-image: url('main/napoleo.jpg');
    padding: 3vw 0vw 0vw 0vw;
    margin-top: 1vw;
    margin-left: 3vw;
    width: 28vw;
    height: 40vh; 
    background-size: cover;
    background-position: center;
    border-radius: 2vw;
}

.container{
    overflow: hidden;
    white-space: nowrap;
}
  
.card1, .card2, .card3, .card4, .card5, .card6, .card7, .card8, .card9, .card10 {
    display: inline-block;
    cursor: pointer;
    animation: moveRight 20s linear infinite;
}
  
@keyframes moveRight {
0% {
  transform: translateX(320%);
}
100% {
  transform: translateX(-1050%);
}
}

.info{
    font-size: 2vw;
    font-weight: 900;
    padding: 1.5vw;
}

.section{
    width: 70vw;
    margin-top: -1.5vw;
    height: 0.01vw;
    margin-left: 1.5vw;
    background-color: black; 
}

.box2{
    background-image: url('main/alexander.webp');
    background-size: cover;
    background-position: center;
    width: 30vw;
    height: 45vh; 
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
    margin-bottom: 2vw; 
    margin-top: 5vw;
    margin-left: 5vw; 
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    filter: grayscale(100%);
}

.box2:hover{
    filter: grayscale(0%);
    transform: translateY(-1.5vw);
}

.sec1{
    margin-left: 34vw;
    width: 0.01vw;
    height: 30vh;
    background-color: black;
    display: block;
}

.para1{
    margin-left: 36vw;
    width: 35vw;
    margin-top: -25vh;
}

.p4 a{
    color: black;
    text-decoration: none;
    font-size: 2.5vw;
    font-weight: 700;
}

.p5{
    font-size: 2vw;
    font-weight: 600;
}

.p6{
    font-size: 1.5vw;
    font-weight: 500;
}

.box3{
    background-image: url('main/Ramses.jpg');
    background-size: cover;
    background-position: center;
    width: 30vw;
    height: 45vh; 
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
    margin-bottom: 2vw; 
    margin-top: 20vw;
    margin-left: 50vw;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    filter: grayscale(100%);
}

.box3:hover{
    filter: grayscale(0%);
    transform: translateY(-1.5vw);
}

.sec2{  
    margin-left: 35vw;
    margin-top: -15vw;
    display: block;
    width: 0.01vw;
    height: 30vh;
    background-color: black;
}

.para2{
    margin-left: -40vw;
    width: 33vw;
    margin-top: -12vw;
}

.p7 a{
    color: black;
    text-decoration: none;
    font-size: 2.5vw;
    font-weight: 700;
}

.p8{
    font-size: 2vw;
    font-weight: 600;
}

.p9{
    font-size: 1.5vw;
    font-weight: 500;
}

.box4{
    background-image: url('main/asoka.jpg');
    background-size: cover;
    background-position: center;
    width: 30vw;
    height: 45vh; 
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
    margin-bottom: 2vw; 
    margin-top: 20vw;
    margin-left: 10vw; 
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    filter: grayscale(100%);
}

.box4:hover{
    filter: grayscale(0%);
    transform: translateY(-1.5vw);
}

.sec3{
    margin-top: -15vw;
    display: block;
    margin-left: -2vw;
    width: 0.01vw;
    height: 30vh;
    background-color: black;
}

.para3{
    margin-left: 36vw;
    width: 35vw;
    margin-top: -25vh;
}

.p10 a{
    color: black;
    text-decoration: none;
    font-size: 2.5vw;
    font-weight: 700;
}

.p11{
    font-size: 2vw;
    font-weight: 600;
}

.p12{
    font-size: 1.5vw;
    font-weight: 500;
}

.box5{
    background-image: url('main/pushyamitra.jpg');
    background-size: cover;
    background-position: center;
    width: 30vw;
    height: 45vh; 
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
    margin-bottom: 2vw; 
    margin-top: 20vw;
    margin-left: 50vw;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    filter: grayscale(100%);
}

.box5:hover{
    filter: grayscale(0%);
    transform: translateY(-1.5vw);
}

.sec4{  
    margin-left: 35vw;
    margin-top: -25vw;
    display: block;
    width: 0.01vw;
    height: 30vh;
    background-color: black;
}

.para4{
    margin-left: -40vw;
    width: 33vw;
    margin-top: -12vw;
}

.p13 a{
    color: black;
    text-decoration: none;
    font-size: 2.5vw;
    font-weight: 700;
}

.p14{
    font-size: 2vw;
    font-weight: 600;
}

.p15{
    font-size: 1.5vw;
    font-weight: 500;
}

.box6{
    background-image: url('main/QinShiHuang.jpg');
    background-size: cover;
    background-position: center;
    width: 30vw;
    height: 45vh; 
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
    margin-bottom: 2vw; 
    margin-top: 25vw;
    margin-left: 10vw; 
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    filter: grayscale(100%);
}

.box6:hover{
    filter: grayscale(0%);
    transform: translateY(-1.5vw);
}

.sec5{
    margin-top: -15vw;
    display: block;
    margin-left: -2vw;
    width: 0.01vw;
    height: 30vh;
    background-color: black;
}

.para5{
    margin-left: 36vw;
    width: 35vw;
    margin-top: -25vh;
}

.p16 a{
    color: black;
    text-decoration: none;
    font-size: 2.5vw;
    font-weight: 700;
}

.p17{
    font-size: 2vw;
    font-weight: 600;
}

.p18{
    font-size: 1.5vw;
    font-weight: 500;
}

.box7{
    background-image: url('main/aug.jpg');
    background-size: cover;
    background-position: center;
    width: 30vw;
    height: 45vh; 
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
    margin-bottom: 2vw; 
    margin-top: 20vw;
    margin-left: 50vw;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    filter: grayscale(100%);
}

.box7:hover{
    filter: grayscale(0%);
    transform: translateY(-1.5vw);
}

.sec6{  
    margin-left: 35vw;
    margin-top: -33vw;
    display: block;
    width: 0.01vw;
    height: 30vh;
    background-color: black;
}

.para6{
    margin-left: -40vw;
    width: 33vw;
    margin-top: -12vw;
}

.p19 a{
    color: black;
    text-decoration: none;
    font-size: 2.5vw;
    font-weight: 700;
}

.p20{
    font-size: 1.7vw;
    font-weight: 600;
}

.p21{
    font-size: 1.5vw;
    font-weight: 500;
}

.box8{
    background-image: url('main/Saladin.webp');
    background-position: center;
    background-size: cover;
    width: 30vw;
    height: 60vh; 
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
    margin-bottom: 2vw; 
    margin-top: 35vw;
    margin-left: 10vw; 
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    filter: grayscale(100%);
}

.box8:hover{
    filter: grayscale(0%);
    transform: translateY(-1.5vw);
}

.sec7{
    margin-top: -20vw;
    display: block;
    margin-left: -2vw;
    width: 0.01vw;
    height: 30vh;
    background-color: black;
}

.para7{
    margin-left: 36vw;
    width: 35vw;
    margin-top: -25vh;
}

.p22 a{
    color: black;
    text-decoration: none;
    font-size: 2.5vw;
    font-weight: 700;
}

.p23{
    font-size: 2vw;
    font-weight: 600;
}

.p24{
    font-size: 1.5vw;
    font-weight: 500;
}

.box9{
    background-image: url('main/Emperor_Akbar_the_Great.jpg');
    background-size: cover;
    background-position: center;
    width: 30vw;
    height: 55vh; 
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
    margin-bottom: 2vw; 
    margin-top: 20vw;
    margin-left: 50vw;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    filter: grayscale(100%);
}

.box9:hover{
    filter: grayscale(0%);
    transform: translateY(-1.5vw);
}

.sec8{  
    margin-left: 35vw;
    margin-top: -15vw;
    display: block;
    width: 0.01vw;
    height: 30vh;
    background-color: black;
}

.para8{
    margin-left: -40vw;
    width: 33vw;
    margin-top: -12vw;
}

.p25 a{
    color: black;
    text-decoration: none;
    font-size: 2.5vw;
    font-weight: 700;
}

.p26{
    font-size: 2vw;
    font-weight: 600;
}

.p27{
    font-size: 1.5vw;
    font-weight: 500;
}

.box10{
    background-image: url('main/peter.jpg');
    background-size: cover;
    background-position: center;
    width: 30vw;
    height: 65vh; 
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
    margin-bottom: 2vw; 
    margin-top: 20vw;
    margin-left: 10vw;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    filter: grayscale(100%);
}

.box10:hover{
    filter: grayscale(0%);
    transform: translateY(-1.5vw);
}

.sec9{
    margin-top: -20vw;
    display: block;
    margin-left: -2vw;
    width: 0.01vw;
    height: 30vh;
    background-color: black;
}

.para9{
    margin-left: 36vw;
    width: 35vw;
    margin-top: -25vh;
}

.p28 a{
    color: black;
    text-decoration: none;
    font-size: 2.5vw;
    font-weight: 700;
}

.p29{
    font-size: 2vw;
    font-weight: 600;
}

.p30{
    font-size: 1.5vw;
    font-weight: 500;
}

.box11{
    background-image: url('main/napoleo.jpg');
    background-size: cover;
    background-position: center;
    width: 30vw;
    height: 65vh; 
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
    margin-bottom: 2vw; 
    margin-top: 20vw;
    margin-left: 50vw;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    filter: grayscale(100%);
}

.box11:hover{
    filter: grayscale(0%);
    transform: translateY(-1.5vw);
}

.sec10{  
    margin-left: 35vw;
    margin-top: -25vw;
    display: block;
    width: 0.01vw;
    height: 30vh;
    background-color: black;
}

.para10{
    margin-left: -40vw;
    width: 33vw;
    margin-top: -12vw;
}

.p31 a{
    color: black;
    text-decoration: none;
    font-size: 2.5vw;
    font-weight: 700;
}

.p32{
    font-size: 2vw;
    font-weight: 600;
}

.p33{
    font-size: 1.5vw;
    font-weight: 500;
    padding-bottom: 1.4vw;
}
















@media (max-width:600px) {

    
    nav{
        display: flex;
        justify-content: space-between;
        padding: 2vw;
    }
    
    .b1 img{
        width: 5vw;
    }
    
    .p{
        margin-top: -5vw;
        font-size: 3vw;
        margin-left: 6vw;
    }
    
    .navbar{
        margin-right: 3vw;
        margin-top: -0.1vw;
    }
    
    nav ul li a{
        margin-right: 3vw;
        font-size: 3vw;
        color: black;
        transition: none;
        position: relative;
    }
    
    .p1{
        padding: 1.5vw;
        font-size: 4vw;
        transition: none;
        cursor: pointer;
    }
    
    .cards{
        padding: 1vw;
        width: 100vw;
        height: 28vh;
    }
    
    .p2{
        color: white;
        font-size: 5vw;
        margin-top: 15vw;
        padding: 0vw 2vw 0vw 2vw;

    }
    
    .card1{
        background-image: url('main/alexander.webp');
        padding: 3vw 0vw 0vw 0vw;
        margin-top: 2vw;
        margin-left: 2vw;
        width: 50vw;
        height: 25vh; 
        background-size: cover;
        background-position: center;
        border-radius: 2vw;
    }
    
    .card2{
        background-image: url('main/Ramses.jpg');
        padding: 3vw 0vw 0vw 0vw;
        margin-top: 2vw;
        margin-left: 2vw;
        width: 50vw;
        height: 25vh; 
        background-size: cover;
        background-position: center;
        border-radius: 2vw;
    }
    
    .card3{
        background-image: url('main/asoka.jpg');
        padding: 3vw 0vw 0vw 0vw;
        margin-top: 2vw;
        margin-left: 2vw;
        width: 50vw;
        height: 25vh; 
        background-size: cover;
        background-position: center;
        border-radius: 2vw;
    }
    
    .card4{
        background-image: url('main/pushyamitra.jpg');
        padding: 3vw 0vw 0vw 0vw;
        margin-top: 2vw;
        margin-left: 2vw;
        width: 50vw;
        height: 25vh; 
        background-size: cover;
        background-position: center;
        border-radius: 2vw;
    }
    
    .card5{
        background-image: url('main/QinShiHuang.jpg');
        padding: 3vw 0vw 0vw 0vw;
        margin-top: 2vw;
        margin-left: 2vw;
        width: 50vw;
        height: 25vh; 
        background-size: cover;
        background-position: center;
        border-radius: 2vw;
    }
    
    .card6{
        background-image: url('main/Aug.jpg');
        padding: 3vw 0vw 0vw 0vw;
        margin-top: 2vw;
        margin-left: 2vw;
        width: 50vw;
        height: 25vh; 
        background-size: cover;
        background-position: center;
        border-radius: 2vw;
    }
    
    .card7{
        background-image: url('main/Saladin.webp');
        padding: 3vw 0vw 0vw 0vw;
        margin-top: 2vw;
        margin-left: 2vw;
        width: 50vw;
        height: 25vh; 
        background-size: cover;
        background-position: center;
        border-radius: 2vw;
    }
    
    .card8{
        background-image: url('main/Emperor_Akbar_the_Great.jpg');
        padding: 3vw 0vw 0vw 0vw;
        margin-top: 2vw;
        margin-left: 2vw;
        width: 50vw;
        height: 25vh; 
        background-size: cover;
        background-position: center;
        border-radius: 2vw;
    }
    
    .card9{
        background-image: url('main/peter.jpg');
        padding: 3vw 0vw 0vw 0vw;
        margin-top: 2vw;
        margin-left: 2vw;
        width: 50vw;
        height: 25vh; 
        background-size: cover;
        background-position: center;
        border-radius: 2vw;
    }
    
    .card10{
        background-image: url('main/napoleo.jpg');
        padding: 3vw 0vw 0vw 0vw;
        margin-top: 2vw;
        margin-left: 2vw;
        width: 50vw;
        height: 25vh; 
        background-size: cover;
        background-position: center;
        border-radius: 2vw;
    }
    
    .container{
        overflow: hidden;
        white-space: nowrap;
    }
      
    .card1, .card2, .card3, .card4, .card5, .card6, .card7, .card8, .card9, .card10 {
        display: inline-block;
        cursor: pointer;
        animation: moveRight 20s linear infinite;
    }
      
    @keyframes moveRight {
    0% {
      transform: translateX(320%);
    }
    100% {
      transform: translateX(-1050%);
    }
    }
    
    .info{
        font-size: 6vw;
        font-weight: 900;
        padding: 1.5vw;
    }
    
    .section{
        width: 70vw;
        margin-top: -1.5vw;
        height: 0.01vw;
        margin-left: 1.5vw;
        background-color: black; 
    }
    
    .box2{
        background-image: url('main/alexander.webp');
        background-size: cover;
        background-position: center;
        width: 70vw;
        height: 30vh; 
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
        margin-bottom: 2vw; 
        margin-top: 5vw;
        margin-left: 15vw; 
        transition: none;
        cursor: pointer;
        filter: grayscale(0%);
    }
    
    .box2:hover{
        filter: grayscale(0%);
        transform: translateY(-1.5vw);
    }
    
    .sec1{
        margin-left: 34vw;
        width: 0.01vw;
        height: 30vh;
        background-color: black;
        display: none;
    }
    
    .para1{
        position: absolute;
        margin-left: 1vw;
        width: 70vw;
        margin-top: 65vw;
    }
    
    .p4 a{
        color: black;
        text-decoration: none;
        font-size: 10vw;
        font-weight: 700;
    }
    
    .p5{
        font-size: 8vw;
        font-weight: 600;
    }
    
    .p6{
        font-size: 5vw;
        font-weight: 500;
    }
    
    .box3{
        background-image: url('main/Ramses.jpg');
        background-size: cover;
        background-position: center;
        width: 70vw;
        height: 30vh; 
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
        margin-bottom: 2vw; 
        margin-top: 120vw;
        margin-left: 20vw; 
        transition: none;
        cursor: pointer;
        filter: grayscale(0%);
        position: relative;
    }
    
    .box3:hover{
        filter: grayscale(0%);
        transform: translateY(-1.5vw);
    }
    
    .sec2{  
        margin-left: 35vw;
        margin-top: -15vw;
        display:none;
        width: 0.01vw;
        height: 30vh;
        background-color: black;
    }
    
    .para2{
        position: absolute;
        margin-left: 1vw;
        width: 70vw;
        margin-top: 65vw;
    }
    
    .p7 a{
        color: black;
        text-decoration: none;
        font-size: 10vw;
        font-weight: 700;
    }
    
    .p8{
        font-size: 8vw;
        font-weight: 600;
    }
    
    .p9{
        font-size: 5vw;
        font-weight: 500;
    }
    
    .box4{
        background-image: url('main/asoka.jpg');
        background-size: cover;
        background-position: center;
        width: 70vw;
        height: 30vh; 
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
        margin-bottom: 2vw; 
        margin-top: 140vw;
        margin-left: 20vw; 
        transition: none;
        cursor: pointer;
        filter: grayscale(0%);
        position: relative;
    }
    
    .box4:hover{
        filter: grayscale(0%);
        transform: translateY(-1.5vw);
    }
    
    .sec3{
        margin-top: -15vw;
        display: none;
        margin-left: -2vw;
        width: 0.01vw;
        height: 30vh;
        background-color: black;
    }
    
    .para3{
        position: absolute;
        margin-left: 1vw;
        width: 70vw;
        margin-top: 65vw;
    }
    
    .p10 a{
        color: black;
        text-decoration: none;
        font-size: 10vw;
        font-weight: 700;
    }
    
    .p11{
        font-size: 8vw;
        font-weight: 600;
    }
    
    .p12{
        font-size: 5vw;
        font-weight: 500;
    }
    
    .box5{
        background-image: url('main/pushyamitra.jpg');
        background-size: cover;
        background-position: center;
        width: 70vw;
        height: 30vh; 
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
        margin-bottom: 2vw; 
        margin-top: 120vw;
        margin-left: 20vw; 
        transition: none;
        cursor: pointer;
        filter: grayscale(0%);
        position: relative;
    }
    
    .box5:hover{
        filter: grayscale(0%);
        transform: translateY(-1.5vw);
    }
    
    .sec4{  
        margin-left: 35vw;
        margin-top: -25vw;
        display: none;
        width: 0.01vw;
        height: 30vh;
        background-color: black;
    }
    
    .para4{
        position: absolute;
        margin-left: 1vw;
        width: 70vw;
        margin-top: 65vw;
    }
    
    .p13 a{
        color: black;
        text-decoration: none;
        font-size: 10vw;
        font-weight: 700;
    }
    
    .p14{
        font-size: 8vw;
        font-weight: 600;
    }
    
    .p15{
        font-size: 5vw;
        font-weight: 500;
    }
    
    .box6{
        background-image: url('main/QinShiHuang.jpg');
        background-size: cover;
        background-position: center;
        width: 70vw;
        height: 30vh; 
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
        margin-bottom: 2vw; 
        margin-top: 180vw;
        margin-left: 20vw; 
        transition: none;
        cursor: pointer;
        filter: grayscale(0%);
        position: relative;
    }
    
    .box6:hover{
        filter: grayscale(0%);
        transform: translateY(-1.5vw);
    }
    
    .sec5{
        margin-top: -15vw;
        display: none;
        margin-left: -2vw;
        width: 0.01vw;
        height: 30vh;
        background-color: black;
    }
    
    .para5{
        position: absolute;
        margin-left: 1vw;
        width: 70vw;
        margin-top: 65vw;
    }
    
    .p16 a{
        color: black;
        text-decoration: none;
        font-size: 10vw;
        font-weight: 700;
    }
    
    .p17{
        font-size: 8vw;
        font-weight: 600;
    }
    
    .p18{
        font-size: 5vw;
        font-weight: 500;
    }
    
    .box7{
        background-image: url('main/aug.jpg');
        background-size: cover;
        background-position: center;
        width: 70vw;
        height: 30vh; 
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
        margin-bottom: 2vw; 
        margin-top: 110vw;
        margin-left: 20vw; 
        transition: none;
        cursor: pointer;
        filter: grayscale(0%);
        position: relative;
    }
    
    .box7:hover{
        filter: grayscale(0%);
        transform: translateY(-1.5vw);
    }
    
    .sec6{  
        margin-left: 35vw;
        margin-top: -33vw;
        display: none;
        width: 0.01vw;
        height: 30vh;
        background-color: black;
    }
    
    .para6{
        position: absolute;
        margin-left: 1vw;
        width: 70vw;
        margin-top: 65vw;
    }
    
    .p19 a{
        color: black;
        text-decoration: none;
        font-size: 10vw;
        font-weight: 700;
    }
    
    .p20{
        font-size: 8vw;
        font-weight: 600;
    }
    
    .p21{
        font-size: 5vw;
        font-weight: 500;
    }
    
    .box8{
        background-image: url('main/Saladin.webp');
        background-position: center;
        background-size: cover;
        width: 70vw;
        height: 30vh; 
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
        margin-bottom: 2vw; 
        margin-top: 260vw;
        margin-left: 20vw; 
        transition: none;
        cursor: pointer;
        filter: grayscale(0%);
        position: relative;
    }
    
    .box8:hover{
        filter: grayscale(0%);
        transform: translateY(-1.5vw);
    }
    
    .sec7{
        margin-top: -20vw;
        display: none;
        margin-left: -2vw;
        width: 0.01vw;
        height: 30vh;
        background-color: black;
    }
    
    .para7{
        position: absolute;
        margin-left: 1vw;
        width: 70vw;
        margin-top: 65vw;
    }
    
    .p22 a{
        color: black;
        text-decoration: none;
        font-size: 10vw;
        font-weight: 700;
    }
    
    .p23{
        font-size: 8vw;
        font-weight: 600;
    }
    
    .p24{
        font-size: 5vw;
        font-weight: 500;
    }
    
    .box9{
        background-image: url('main/Emperor_Akbar_the_Great.jpg');
        background-size: cover;
        background-position: center;
        width: 70vw;
        height: 30vh; 
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
        margin-bottom: 2vw; 
        margin-top: 160vw;
        margin-left: 20vw; 
        transition: none;
        cursor: pointer;
        filter: grayscale(0%);
        position: relative;
    }
    
    .box9:hover{
        filter: grayscale(0%);
        transform: translateY(-1.5vw);
    }
    
    .sec8{  
        margin-left: 35vw;
        margin-top: -15vw;
        display: none;
        width: 0.01vw;
        height: 30vh;
        background-color: black;
    }
    
    .para8{
        position: absolute;
        margin-left: 1vw;
        width: 70vw;
        margin-top: 65vw;
    }
    
    .p25 a{
        color: black;
        text-decoration: none;
        font-size: 10vw;
        font-weight: 700;
    }
    
    .p26{
        font-size: 8vw;
        font-weight: 600;
    }
    
    .p27{
        font-size: 5vw;
        font-weight: 500;
    }
    
    .box10{
        background-image: url('main/peter.jpg');
        background-size: cover;
        background-position: center;
        width: 70vw;
        height: 30vh; 
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
        margin-bottom: 2vw; 
        margin-top: 160vw;
        margin-left: 20vw; 
        transition: none;
        cursor: pointer;
        filter: grayscale(0%);
        position: relative;
    }
    
    .box10:hover{
        filter: grayscale(0%);
        transform: translateY(-1.5vw);
    }
    
    .sec9{
        margin-top: -20vw;
        display: none;
        margin-left: -2vw;
        width: 0.01vw;
        height: 30vh;
        background-color: black;
    }
    
    .para9{
        position: absolute;
        margin-left: 1vw;
        width: 70vw;
        margin-top: 65vw;
    }
    
    .p28 a{
        color: black;
        text-decoration: none;
        font-size: 10vw;
        font-weight: 700;
    }
    
    .p29{
        font-size: 8vw;
        font-weight: 600;
    }
    
    .p30{
        font-size: 5vw;
        font-weight: 500;
    }
    
    .box11{
        background-image: url('main/napoleo.jpg');
        background-size: cover;
        background-position: center;
        width: 70vw;
        height: 35vh; 
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
        margin-bottom: 2vw; 
        margin-top: 150vw;
        margin-left: 20vw; 
        transition: none;
        cursor: pointer;
        filter: grayscale(0%);
        position: relative;
    }
    
    .box11:hover{
        filter: grayscale(0%);
        transform: translateY(-1.5vw);
    }
    
    .sec10{  
        margin-left: 35vw;
        margin-top: -25vw;
        display: none;
        width: 0.01vw;
        height: 30vh;
        background-color: black;
    }
    
    .para10{
        position: absolute;
        margin-left: 1vw;
        width: 70vw;
        margin-top: 65vw;
    }
    
    .p31 a{
        color: black;
        text-decoration: none;
        font-size: 10vw;
        font-weight: 700;
    }
    
    .p32{
        font-size: 8vw;
        font-weight: 600;
    }
    
    .p33{
        font-size: 5vw;
        font-weight: 500;
        padding-bottom: 1.4vw;
    }    
}